<a name="commentarea"></a> <!--回复使用的锚-->
{% if entry.allow_comment %}
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.utf8.js"></script>
<script type="text/javascript" src="/themes/{{ blog.theme_name }}/comment.js"></script>
<form action="/post_comment" method="post" id="commentform">
	<div id="respond">
		<div id="author_info">
			<div class="row">
				<input type="text" name="author" id="author" class="textfield" value="" size="24" tabindex="1" />
				<label for="author" class="small">昵称 (必填)</label>
			</div>
			<div class="row">
				<input type="text" name="email" id="email" class="textfield" value="" size="24" tabindex="2" />
				<label for="email" class="small">电子邮箱 (我们会为您保密) (必填)</label>

			</div>
			<div class="row">
				<input type="text" name="url" id="url" class="textfield" value="" size="24" tabindex="3" />
				<label for="url" class="small">网址</label>
			</div>
			{% if not self.is_login %}
			{%ifequal blog.comment_check_type 1%}
			<div class="row">
			<iframe src="/checkcode/"  style="width:80px;height:20px;border:0;"SCROLLING=no></iframe>
			<input type="text" name="checkret" id="checkret" value="" size="5" tabindex="4" />
			</div>
			{%endifequal%}
			{%ifequal blog.comment_check_type 2%}
			<div class="row">
			<div id="checkarea">
                <input type="text" name="checkret" id="checkret" value="" tabindex="4" />
				<label class="conmmentform-title" for="checkret" >验证码</label><img id="checkimg" title="点击图片更换验证码" src="/checkimg/" onclick="reloadCheckImage();" />
            </div>
			</div>
			{%endifequal%}
			{%endif%}
		</div>

		<div class="row">
			<textarea name="comment" id="comment" style="width:96%"  rows="10" tabindex="5"></textarea>
		</div>


		<div id="s_msg" style="display:none;color:red">正在提交留言...</div>
		<div class="submitbutton">
			<input name="submit" type="submit" id="submit" class="button" tabindex="6" value="提交评论" />
		</div>
		<input type="hidden" name="key" value="{{entry.key.id}}" />
		<input type="hidden" name="useajax" value="1" />
	</div>
</form>

{% else %}
<p class="nocomments">评论已关闭</p>
{% endif %}