<div id="commentlist">
	<!-- comments START -->
	<ol id="thecomments">
		{% for comment in comments %}
		<li class="comment regularcomment" id="comment-{{comment.key.id}}">
		<div class="author">
			<div class="pic">
				<img alt='' src='{{comment.gravatar_url}}' class='avatar avatar-32 photo' height='32' width='32' />			
			</div>
			<div class="name">
				{%if comment.weburl|safe %}
				<a id="comment-{{comment.key.id}}" class="url" target="_blank" href="{{comment.weburl}}">{{comment.author}}</a>
				{% else %}{{comment.author}}{%endif%}
			</div>
		</div>

		<div class="info">
			<div class="date">{{comment.date|datetz:"Y-m-d"}} at {{comment.date|datetz:"H:i"}}
				<a onclick="return backcomment('{{comment.author}}');" href="#commentarea"><font color="#800000">回复</font></a> 
				<a onclick="return backcomment('引用{{comment.author}}<blockquote> {{comment.content}}</blockquote>');" href="#commentarea"><font color="#800000">引用</font></a> 
			</div>
			<div class="fixed"></div>
			<div class="content">
				<div id="comment-{{comment.key.id}}">{{comment.content|safe}}</div>
			</div>
		</div>
		<div class="fixed"></div>
		</li>
		{% endfor %}
	</ol>
	<!-- comments END -->
</div>




