{% extends "base.html" %}

{% block head_block %}
<meta name="verify-v1" content="EjkoZwrUyHnlwjyUkbFXVJ2Ioms9m4NTUETFhrIyoNY=" />
<meta name="Keywords" content="gkso,gggkso,gkso.appspot.com,python,google app engine,linux,开发,安全,计算机技术">
<meta name="Description" content="我是gkso，这是我的个人技术博客，在这里我会发表计算机技术相关的文章，欢迎大家一起讨论.">

{% endblock %}

{% block content %}

<!-- content START -->
<div id="content">

	<!-- main START -->
	<div id="main">

	<!--<div class="post" id="notice">
		<div class="content">

			感谢您来到我的BLog,如果您在我博客上留下评论，您的评论会对我的网站成长有很大的帮助。我的邮箱是<img alt='我的邮箱' src='/static/images/mygmail.png' />			<div class="fixed"></div>
		</div>
	</div>-->
			{% for entry in entries %}
			<div class="post" id="post-1010">
			<h2><a class="title" href="{{ entry.fullurl|escape }}" rel="bookmark">{{ entry.title|escape }}</a></h2>
			<div class="info">
				<span class="date">{{ entry.date|datetz:"F jS, Y " }}</span>

				<span class="comments"><a href="{{entry.fullurl|escape}}">{{entry.readtimes}} 次阅读</a></span>
				<span class="comments"><a href="{{entry.fullurl|escape}}#comments">{{entry.commentcount}} 条评论 </a></span>
				<div class="fixed"></div>
			</div>
			<div class="content">
				{{entry|excerpt_more:"(..More)"|safe}}
				<div class="fixed"></div>
			</div>
			<div class="under">
			<span class="categories">分类: </span><span>
            {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}
            </span>	
            {% if entry.tags%}
            <span class="tags">标签: </span><span>
            {%for tag in entry.tags%}
            <a href="/tag/{{tag|urlencode}}">{{tag}}</a>&nbsp;{%endfor%}</span>
            {%endif%}
            </div>

		</div>

			{% endfor %}
        
<div id="pagenavi">
			<div class="wp-pagenavi">
<span class="pages">{{postscount}} 篇文章，共 {{pagecount}} 页，第 {{pageindex}} 页</span>
{% if show_prev %}<a href="/page/{{ pageindex|add:"-1" }}" >&laquo;上一页</a>{% endif %}
{% if show_next %}<a href="/page/{{ pageindex|add:"1"}}" >&raquo;下一页</a>{% endif %}
            </div>

		<div class="fixed"></div>
</div>

	</div>
	<!-- main END -->

	{% include "sidebar.html" %}

	<div class="fixed"></div>
</div>
<!-- content END -->

{% endblock %}
